<%= form_for(@panel) do |f| %>
  <% if @panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel.errors.count, "error") %> prohibited this panel from being saved:</h2>

      <ul>
      <% @panel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :css, 'CSS' %><br>
    <%= f.text_area :css %>
  </div>
  <div class="field">
    <%= f.label :js, 'JavaScript' %><br>
    <%= f.text_area :js %>
  </div>
  <div class="field">
    <%= f.label :styles, 'Global Syles' %><br>
    <%= f.collection_select :style_ids, @styles, :id, :name, {:include_blank => "Please select"}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
