<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Panel Data" %>
</div>

<%= f.fields_for :texts do |builder| %>
  <%= render 'text_fields', f: builder %>
<% end %>

