<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @panel.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @panel.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @panel.height %>
</p>

<p>
  <strong>Content:</strong>
  <%= @panel.content %>
</p>

<p>
  <strong>Active:</strong>
  <%= @panel.active %>
</p>

<ul>
  <% for panel_data in @panel.panel_datas %>
    <li>
      <%= panel_data.name %>
      <ul>
        <% for text in panel_data.texts %>
          <li><%= text.content %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>
