<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @panel.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @panel.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @panel.height %>
</p>

<p>
  <strong>Content:</strong>
  <%= @panel.content %>
</p>

<p>
  <strong>Active:</strong>
  <%= @panel.active %>
</p>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>
