<%= form_for(@panel_data) do |f| %>
  <% if @panel_data.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel_data.errors.count, "error") %> prohibited this panel_data from being saved:</h2>

      <ul>
      <% @panel_data.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :panel_id %><br>
    <%= f.number_field :panel_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
